{% extends 'base.html' %}
{% block content %}
<div class="container">    
    <div class="list-group">                        
        {% for item in object_list %}
            <a class="list-group-item list-group-item-action" href="{% url 'detalhes' item.id %}">{{ item.nome }}</a>
        {% empty %}
        <span class="list-group-item">Sem itens</span>
        {% endfor %}            
    </div>        
</div>
{% if user.is_authenticated %}
    <li>User: {{ user.get_username }}</li>
    <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
{% else %}
    <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
{% endif %} 
{% endblock %}