{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
            </ol>
        </nav>
        
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    Nome: 
                </div>
                <div class="col">
                    {{ object.nome }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                        Função: 
                </div>
                <div class="col">
                    {{ object.funcao }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    Email: 
                </div>
                <div class="col">
                    {{ object.email }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    Orgão/Endereco: 
                </div>
                <div class="col">
                    {{ object.orgao }}
                </div>
            </div>
            {% if object.data_gerado %}
                <div class="row">
                    <div class="col-sm-2">
                        Enviado em: 
                    </div>
                    <div class="col">
                        {{ object.data_gerado }}
                    </div>
                </div>
            {% endif %}
        </div>
        <br>
        <a class="btn btn-primary" href="{% url 'gerar_pdf' object.id %}"><i class="fas fa-file-pdf"></i></a>
        <a class="btn btn-primary" href="{% url 'atualizar' object.id %}"><i class="fas fa-pen"></i></a>
        <a id="btn-delete" class="btn btn-primary" href="{% url 'deletar' object.id %}"><i class="fas fa-minus-circle"></i></a>                
    </div>
{% endblock %}