<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <a href="/"><i class="fas fa-chevron-left"></i></a>
        <ul>
            <li>{{ etiqueta.nome }}</li>
            <li>{{ etiqueta.funcao }}</li>
            <li>{{ etiqueta.email }}</li>
            <li>{{ etiqueta.orgao }}</li>
            <li>{{ etiqueta.endereco }}</li>
            <li>{{ etiqueta.data_adicionado }}</li>
        </ul>
        <a class="btn btn-primary" href="/pdf/{{ etiqueta.id }}"><i class="fas fa-file-pdf"></i></a>
        <a class="btn btn-primary" href="/update/{{ etiqueta.id }}"><i class="fas fa-pen"></i></a>
        <a class="btn btn-primary" href="/delete/{{ etiqueta.id }}"><i class="fas fa-minus-circle"></i></a>
    </div>
</body>
</html>